/* ---------------------------------------------------------------------
Holograph Example documentation stylesheet.

This stylesheet provides a default example of your styleguide doc styles.
You can use this styleguide stylesheet or create your own to match your
site's styleguide branding or colors.
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

html, body {
    height: 100%;
}

body {
    line-height: 1;
}

strong {
    font-weight: bold;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline: 0;
}

/* Always show a vertical scrollbar, even when there is no scrolling */
html {
    overflow-y: scroll;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* ---------------------------------------------------------------------
 HTML5 Block / Inline Block declarations
------------------------------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

/* ---------------------------------------------------------------------
 Base
------------------------------------------------------------------------ */
body {
    font-family: sans-serif;
    font-size: 14px;
}

/* ---------------------------------------------------------------------
 Page
------------------------------------------------------------------------ */
.hg-page {

}

.hg-page-hd {
    background-color: #2a3744;
}

.hg-page-nav {
    background-color: #69573d;
}

.hg-page-bd-c {
    padding: 20px;
}

.hg-page-ft {
    background-color: #f9f9f9;
}

.hg-page-ft-c {
    text-align: center;
    padding: 10px 0;
}

.hg-wrapper {
    width: 1020px;
    margin: 0 auto;
}

/* ---------------------------------------------------------------------
 Sticky Footer
------------------------------------------------------------------------ */
.hg-page {
    min-height: 100%;
}

.hg-page-bd {
    padding-bottom: 34px;
}

.hg-page-ft {
    position: relative;
    margin-top: -34px;
    height: 34px;
    clear: both;
}

/* ---------------------------------------------------------------------
 Masthead
------------------------------------------------------------------------ */
.hg-masthead {
    background-color: #2c435b;
    color: #ffffff;
    padding: 20px;
}

/* ---------------------------------------------------------------------
 Navigation
------------------------------------------------------------------------ */
.hg-navigation {
    background-color: #8c6d3e;
}

.hg-navigation a:link,
.hg-navigation a:visited,
.hg-navigation a {
    color: #ffffff;
    text-decoration: none;
}

.hg-navigation ul {
    overflow: hidden;
    margin: 0;
}

.hg-navigation li {
    float: left;
    margin: 0;
}

.hg-navigation li a {
    display: block;
    padding: 8px 20px;
}

.hg-navigation li a:hover {
    background-color: #c5ad89;
}

/* ---------------------------------------------------------------------
 Sub navigation
------------------------------------------------------------------------ */

.hg-box {
    border: 1px solid #e9e9e9;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.hg-subnav {
}

.hg-subnav > li {
    border-top: 1px solid #e9e9e9;
}

.hg-subnav > li:first-child {
    border-top: 1px solid transparent;
}

.hg-subnav a {
    display: block;
    padding: 10px;
    color: #2c435b;
    text-decoration: none;
}

.hg-subnav a:hover {
    background-color: #f9f9f9;
    color: #c5a473;
}

/* ---------------------------------------------------------------------
 Headings
------------------------------------------------------------------------ */
.hg-hdg {
    font-weight: bold;
}

.hg-hdg_1 {
    font-size: 30px;
}

/* ---------------------------------------------------------------------
 Grid
 Generated with cssgrid v0.7 at 2013-08-20 01:45:43
 cssgrid --units=percent --cols=12 --col-width=64 --gutter=10 --max-width=878
------------------------------------------------------------------------ */
.hg-grid:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.hg-grid-col {
    position: relative;
    float: left;
}

.hg-grid-col + .hg-grid-col {
    margin-left: 1.1389521640091%;
}

.hg-grid-col_1of12 { width: 7.2892938496583%; }
.hg-grid-col_2of12 { width: 15.717539863326%; }
.hg-grid-col_3of12 { width: 24.145785876993%; }
.hg-grid-col_4of12 { width: 32.574031890661%; }
.hg-grid-col_5of12 { width: 41.002277904328%; }
.hg-grid-col_6of12 { width: 49.430523917995%; }
.hg-grid-col_7of12 { width: 57.858769931663%; }
.hg-grid-col_8of12 { width: 66.28701594533%; }
.hg-grid-col_9of12 { width: 74.715261958998%; }
.hg-grid-col_10of12 { width: 83.143507972665%; }
.hg-grid-col_11of12 { width: 91.571753986333%; }
.hg-grid-col_12of12 { width: 100%; }


/* ---------------------------------------------------------------------
 Content
------------------------------------------------------------------------ */

.hg-content * {
    font-family: sans-serif;
    line-height: 1.5em;
}

.hg-content h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}

.hg-content > h1:first-of-type {
    margin-top: 0;
}

.hg-content h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

.hg-content p {
    margin-bottom: 20px;
}

.hg-content pre {
    font-family: monospace;
}

.hg-content pre * {
    font-family: monospace;
}

.hg-content pre.prettyprint {
    border: none;
    padding: 0;
}

.hg-content blockquote:before {
    content: "Design Note:";
    font-weight: bold;
}

.hg-content blockquote {
    border: 1px solid #eee;
    border-radius: 4px;
    font-family: "Comic Sans MS";
    font-size:16px;
    margin: 10px 0;
    padding: 5px;
}

.hg-content code {
    padding: 2px 4px;
    color: #d14;
    white-space: nowrap;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hg-content .codeExample,
.hg-content .jsExample {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
}

.hg-content .jsExample {
    border-top: 0px;
}

.hg-content .codeExample:before,
.hg-content .jsExample:before {
    font-family: "OpenSans", sans-serif;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    position: relative;
    padding: 2px;
    display: block;
}

.hg-content .codeExample:before {
    content: "Example";
    background-color: #f9f9f9;
    padding-left: 7px;
    width: 60px;
    top: -1px;
    left: -1px;
}

.hg-content .codeExample .line > div:after {
    content: attr(class);
    display: block;
    min-height: 40px;
    line-height: 40px;
    background-color: #EEE;
    text-align: center;
    border-radius: 3px;
    font-size: 12px;
}

.hg-content .jsExample:before {
    content: "JS Example";
    background-color: #fff;
    width: 80px;
    top: -11px;
    left: -11px;
}

.hg-content .codeBlock,
.hg-content .exampleOutput {
    padding: 10px;
}

.hg-content .codeBlock {
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.hg-content .docSwatch {
    min-height: 218.21px;
    border: 1px solid #ccc;
    padding: 10px 0 0 10px;
    font-size: 12px;
    margin-bottom: 5px;
}

table, table tr, table td, table th {
    padding: 7px;
    border: 1px solid #ccc;
}

table th {
    font-weight: bold;
}

